<div class="raw">
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="menu1">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('index') }}" class="navbar-brand">
                            {{ current_user.username|title }}的博客
                        </a>
                    {% else %}
                        <a href="{{ url_for('index') }}" class="navbar-brand">
                        欢迎回来!
                        </a>
                    {% endif %}
            </div>
                <div class="collapse navbar-collapse" id="menu1">
                    <ul class="nav navbar-nav nav-pills">
                        <li>
                            <a href="{{ url_for('index') }}"><i class="glyphicon glyphicon-home"></i> 主页</a>
                        </li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" data-target="1">
                                    <i class="glyphicon glyphicon-book"></i> 文章
                            </a>
                            <ul class="dropdown-menu" id="1">
                                <li class="text-center"><a href="{{ url_for('my_post') }}">我的文章</a></li>
                                <li class="text-center"><a href="{{ url_for('post_list') }}">网站文章</a></li>
                            </ul>
                            </li>
                        <li>
                            <a href="{{ url_for('login') }}"><i class="glyphicon glyphicon-log-in"></i> 登陆</a>
                        </li>
                        <li>
                            <a onclick="return confirm('确定退出登陆吗？')" href="{{ url_for('logout') }}">
                                <i class="glyphicon glyphicon-log-out"></i> 退出</a>
                        </li>
                        <li>
                            <a href="{{ url_for('register') }}"><i class="glyphicon glyphicon-user"></i> 注册</a>
                        </li>
                        <li>
                            <a href="{{ url_for('contact') }}"><i class="glyphicon glyphicon-envelope"></i> 联系我</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>
</div>