<div class="container-fluid">
    <div class="raw">
        <div class="column column-12 text-center">
            <br>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header text-center">
                    <button  type="button" class="btn btn-primary navbar-toggle" data-toggle="collapse" data-target="#menu2">
                        分类列表
                    </button>
                </div>
                <div class="collapse navbar-collapse " id="menu2">
                    <ul class="navbar-nav nav nav-stacked">
                        <li class="text-center">
                        {% if categories==None %}
                            <a class="text-warning bg-dark text-center" href="#">还没有分类</a>
                        {% else %}
                            {% for category in categories %}
                                <a class="bg-black text-center"
                                   href="{{ url_for('post_list_category',category=category) }}">{{ category }}
                                </a>
                            {% endfor %}
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
