{% extends 'base.html' %}
{% block container %}
    <div class=" bg-success column col-md-12">
        <div class="raw">
            <div class="text-left col-md-4 col-md-offset-4">
                <address>
                    <h3>
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i> 李宇
                        </a>
                    </h3>
                </address>
                <address>
                    <h3>
                        <a href="#">
                            <i class="glyphicon glyphicon-envelope"></i> liyu-task@outlook.com
                        </a>
                    </h3>
                </address>
                <address>
                    <h3>
                        <a href="#">
                            <i class="glyphicon glyphicon-map-marker"></i> 西安
                        </a>
                    </h3>
                </address>
            </div>
        </div>
    </div>
{% endblock %}