{% extends 'base.html' %}
{% block container %}
    <div class="column col-md-6"><br>
      <img src="../static/main.jpg" class="img-responsive img-rounded">
    </div>
    <div class="column col-md-6"><br>
        <h3>欢迎来到李宇的博客平台！</h3><br>
        <h4>您可以注册、登陆并撰写您自己的分类文章；</h4><br>
        <h4>您也可以在不登陆的情况下， 查看其他网友撰写的文章:</h4><br>
        <p>1）点击页面导航栏中的“文章”按钮</p><br>
        <p>2）选择“网站文章”</p>
    </div>
{% endblock %}
{% block footer %}
    <div class="column col-md-12 text-center">
        <br><br>
        <p>
            <a href="{{ url_for('contact') }}">联系站长 </a> |
            <a href="#">友情链接</a> |
            <a href="http://www.miitbeian.gov.cn/">
                <span>陕ICP备19007348</span>
            </a>
        </p>
    </div>
{% endblock %}