{% extends 'base.html' %}
{% block container %}
    <div class="column col-md-6"><br>
      <img src="../static/main.jpg" class="img-responsive img-rounded">
    </div>
    <div class=" column col-md-4 col-md-offset-1">
        <form role="form" method="post" class="horizontal" action="{{ url_for('register') }}">
            {{ form.csrf_token }}
            <div class="form-group">
                <br><br>
                {{ form.username }}<br>
                {{ form.email }}<br>
                {{ form.password }}<br>
                {{ form.confirm_pwd }}<br>
                {{ form.register }}
            </div>
        </form>
{% endblock %}