{% extends 'main.html' %}
{% block content %}
    <h3>{{ post.title|title }}</h3>
    <p>
        <span class="badge">作者</span>
        <a href="{{ url_for('post_list_user',user_id=post.user.id) }}">{{ post.user.username|title }}</a> |
        <span class="badge">分类</span>
        <a href="{{ url_for('post_list_category',category=post.category) }}">{{ post.category|title }}</a>
    </p>
    <hr>
    <div>{{ post.body|safe }}</div>
    {% if current_user.is_authenticated %}
        <a class='btn' href="{{ url_for('edit_post', post_id=post.id) }}">
            <i class="glyphicon glyphicon-edit"></i>编辑
        </a>
        <a class="btn" onclick="return confirm('确定要删除吗？')" href="{{ url_for('delete_post', post_id=post.id) }}">
            <i class="glyphicon glyphicon-remove"></i>删除
        </a>
    {% endif %}
    <hr>
    <div class="text-right">
        <small class="inline text-right">
            {{ moment(post.timestamp).format('YYYY-MM-DD HH:mm') }}
            <i class="glyphicon glyphicon-pencil"></i>
        </small>
    </div>
{% endblock %}